AuthorizedKeysFile /etc/ssh/keys/authorized/%u
AllowAgentForwarding no
AllowTcpForwarding yes
Banner none
GatewayPorts no
HostbasedAuthentication no
HostKey /etc/ssh/keys/ssh_host_ecdsa_key
HostKey /etc/ssh/keys/ssh_host_ed25519_key
HostKey /etc/ssh/keys/ssh_host_rsa_key
IgnoreRhosts yes
IgnoreUserKnownHosts yes
KbdInteractiveAuthentication no
MaxAuthTries 5
MaxSessions 50
PasswordAuthentication no
PermitEmptyPasswords no
PermitRootLogin no
PermitTTY no
PermitTunnel yes
PermitUserEnvironment no
PrintMotd no
PubkeyAuthentication yes
StrictModes yes
TCPKeepAlive yes
UseDNS no
X11Forwarding no
